<!-- about  -->

  <section id="about"  >

   <div class="container-fluid" style="background: #17202B;">
     <div class="container">
     <div class="row row-cols-md-1 row-cols-lg-2 about-block">
       <div class="col">
         <h3>Про компанію</h3>
         <p class="white-p">Демонтаж Плюс — це компанія, яка проводить цілий комплекс демонтажних робіт.
      Для нас демонтаж будівлі— це послідовний процес розбору, з максимальним збереженням матеріалів, для переробки або повторного використання.
         </p>

       </div>
       <div class="col image-about"></div>

     </div>
   </div>
   </div>
  </section>
