<div class="b-example-divider"></div>
<section class="call-to-action">

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3">Зв'яжіться з нами</h1>
          <p class="col-lg-10 fs-4">Залиште ваші контакти і ми оцінимо терміни та складність демонтажу</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5 text-center">
          <form class="p-4 p-md-5 border rounded-3 bg-light" action="/" method="post">

            <div class="form-floating mb-3">
              <input type="email" name="phoneNumber" class="form-control" id="floatingInput" placeholder="+38000000000">
              <label for="floatingInput">+380</label>
            </div>
            <div class="form-floating mb-3">
              <!-- замінити типи полів пасворд і номер -->
              <input type="password" name="name" class="form-control" id="floatingName" placeholder="Name">
              <label for="floatingName">Ім'я та прізвище</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Надіслати</button>

          </form>
        </div>
      </div>
    </div>

</section>
