<section class="section-plus">
  <div class="container">
    <div class="col-8">
      <span>
        <p class="sub-p">Плюс, ми збережемо:</p>
        <p class="sub-sub-p">👍вікна, двері<br>👍дах <br>👍цеглу, деревину, метал<br>
          Щоб ви могли повторно їх використати або продати. ми вивозимо і утилізуємо все будсміття.</p>
      </span>
    </div>
  </div>
</section>
