<section class="section-plus">
     <div class="container-fluid block-plus">
     <div class="container">
     <div class="col-8">
         <span>
      <p class="sub-p">Плюс</p>
      <p class="sub-sub-p">після демонтажу<br> ми вивозимо і утилізуємо все будсміття.</p>
      </span>
    </div>
    </div>
 </div>
</section>
