<div class="b-example-divider"></div>
<section id="testimonials">
  <div class="container" id="custom-cards">
    <h2 class="pb-2 border-bottom">В нас є все для швидкого і якісного демонтажу:</h2>

    <div class="advance_block row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('images/unsplash-photo-1.webp');">

        </div>
        <div class="p-2 pb-2 text-white text-shadow-1">
          <h4>Досвідчена команда</h4>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('images/unsplash-photo-2.webp');">
        </div>
        <div class="p-2 pb-2 text-white text-shadow-1">
          <h4>Професійний інструмент</h4>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg" style="background-image: url('images/unsplash-photo-3.webp');">
        </div>
        <div class="p-2 pb-2 text-white text-shadow-1">
          <h4>Техніка</h4>
        </div>
      </div>

    </div>
  </div>

</section>
