<section id="testimonials">
 <h2 class="category-title">Відгуки</h2>
   <div class="container">
     <div class="row row-cols-lg-3 row-cols-md-1">
       <div class="col">
         <p><i>"Це справді - професіонали своєї справи.
Зробили отвір в несучій стіні за декілька годин. А потім вивезли все сміття. "<br>
<b>Володимир Луцик, "Декор-Маркет"</b></i>
        </p>
       </div>

       <div class="col">
         <p><i>"Це справді - професіонали своєї справи.
       Зробили отвір в несучій стіні за декілька годин. А потім вивезли все сміття. "<br>
       <b>Володимир Луцик, "Декор-Маркет"</b></i>
        </p>
       </div>

       <div class="col">
         <p><i>"Це справді - професіонали своєї справи.
Зробили отвір в несучій стіні за декілька годин. А потім вивезли все сміття. "<br>
<b>Володимир Луцик, "Декор-Маркет"</b></i>
        </p>
       </div>

     </div>
   </div>

 </section>
